@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

i {
  all: unset;
}

a {
  text-decoration-line: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}