@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    --color-primary: #339CA9;
    --color-secondary: #000000;
    --color-background: #ffffff;
    --color-text: #000000;
}

* {
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0;
}


i {
    all: unset;
}

/* FONT */
a {
    text-decoration-line: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
}
.thin {
    font-weight: 100;
}
.big {
    font-size: 1.5rem;
}


/* TABS */
nav.tabs {
    display: flex;
    overflow-x: auto; /* Permet de faire défiler les onglets horizontalement en mode mobile */
    white-space: nowrap; /* Empêche les onglets de passer à la ligne */
}

nav.tabs span {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    flex-shrink: 0; /* Empêche les onglets de se réduire en taille */
}

nav.tabs span:hover {
    border-color: #FF8811;
    color: #FF8811;
}

nav.tabs .active {
    border-color: #FF8811;
    color: #FF8811;
}

@media (max-width: 768px) {
    /* Affichage vertical en mode mobile */
    nav.tabs {
        flex-direction: column;
    }

    nav.tabs span {
        padding: 10px;
        border-left: 2px solid transparent;
        border-bottom: none;
    }

    nav.tabs span:hover {
        border-left-color: #FF8811;
        border-bottom: none;
    }

    nav.tabs span.active {
        border-left-color: #FF8811;
        border-bottom: none;
    }
}


.row {
    display: flex;
    flex-flow: column;
    @media screen and (min-width: 768px) {
        flex-flow: row;
    }
}
.columns {
    display: flex;
    flex-flow: column nowrap;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.p2 {
    padding: 2rem;
}
.w100 {
    width: 100%;
}
.w80 {
    width: 80%;
}
.w50 {
    width: 50%;
}

.table-odd li {
    padding: 1rem;
}
.table-odd li:nth-child(odd) {
    background-color: #b6b5b5;
}

.formEdit {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.fwb-button-group .bg-blue-700, button.bg-blue-700 {
    background-color: var(--color-primary)!important;

    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        background-color: #548196!important;
    }
}

.bg-blue {
    background-color: var(--color-primary)!important;
}

.bg-black {
    background-color: var(--color-secondary)!important;
}

label {
    color: var(--color-primary)!important;
    span {
        color: var(--color-primary)!important;
    }
}